<div class="card">
  <div class="card-body" style="background-color: #f8f9fa;">
    <a href="{% url 'matching_app:match_new_users' %}" class="btn btn-outline-primary me-2"><i class="bi bi-clock"></i> 新着マッチング</a>
    <a href="{% url 'matching_app:match_recommend_users' %}" class="btn btn-outline-primary me-2"><i class="bi bi-star"></i> リコメンドマッチング</a>
    <a href="{% url 'matching_app:match_search_users' %}" class="btn btn-outline-primary"><i class="bi bi-search"></i> 検索マッチング</a>
  </div>
</div>
<hr class="my-4">