{% extends 'main_app/base.html' %}

{% block content %}

<div class="container mt-5">
  <h2>ルームシェア希望条件設定</h2>
  <form method="POST" action="{% url 'matching_app:roommate_preference_save' %}">
    {% csrf_token %}
    {{ purpose_form.as_p }}
    {{ cohabitation_form.as_p }}
    {{ layout_form.as_p }}
    {{ rent_form.as_p }}
    {{ roommate_preference_form.as_p }}
    <div class="form-group row mt-4">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </div>
  </form>
</div>

{% endblock content %}


