{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
{% include 'main_app/menu_buttons.html' %}
{% include 'matching_app/match_type_menu_buttons.html' %}

<h2 class="mb-4"><i class="bi bi-search"></i> 検索マッチング</h2>
<!-- 検索フォーム -->
<form class="mb-4" method="get" action="{% url 'matching_app:match_search_users' %}">
    <div class="input-group">
        <input type="text" class="form-control" name="keyword" placeholder="キーワード" value="{{ search_params.keyword }}">
        <select class="form-select" name="sex" value="{{ search_params.sex }}">
          <option value="">性別を選択</option>
          <option value="男性" {% if search_params.sex == "男性" %}selected{% endif %}>男性</option>
          <option value="女性" {% if search_params.sex == "女性" %}selected{% endif %}>女性</option>
      </select>
        <input type="number" class="form-control" name="min_age" placeholder="最小年齢" value="{{ search_params.min_age }}">
        <input type="number" class="form-control" name="max_age" placeholder="最大年齢" value="{{ search_params.max_age }}">
        <select class="form-select" name="prefecture" value="{{ search_params.prefecture }}">
          <option value="">都道府県を選択</option>
          <!-- 都道府県のリストを追加 -->
          {% for code, name in prefecture_choices %}
          <option value="{{ code }}" {% if search_params.prefecture == code %}selected{% endif %}>{{ name }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i>検索</button>
    </div>
</form>

<!-- 検索結果の表示部分 -->
{% for user in users %}
<div class="card mb-1" style="background-color: #f8f9fa;">
    <div class="row g-0">
        <div class="col-md-4">
            {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}" class="img-fluid rounded-start" alt="プロフィール画像" style="width: 180px; height: 180px;">
            {% else %}
            <img src="{% static 'media/profile_images/default.jpg' %}" class="img-fluid rounded-start" alt="プロフィール画像" style="width: 180px; height: 180px;">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">ユーザー名: {{ user.user_name|default:"未登録" }}</p>
                <p class="card-text">年齢: {{ user.age|default:"未登録" }}</p>
                <p class="card-text">性別: {{ user.sex|default:"未登録" }}</p>
                <p class="card-text">都道府県: {{ user.prefecture|default:"未登録" }}</p>
                <p class="card-text">自己紹介: {{ user.self_introduction|default:"未登録" }}</p>
                <a href="{% url 'matching_app:user_detail' user.id %}" class="btn btn-primary">詳細を見る</a>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="alert alert-info" role="alert">

    検索条件に一致するユーザーが見つかりませんでした。
</div>
{% endfor %}
{% endblock content %}
