{% extends 'main_app/base.html' %}

{% block content %}
{% include 'main_app/menu_buttons.html' %}
<h2><i class="bi bi-sliders"></i> ルームシェア希望条件設定</h2>
<!-- message -->
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <li class="alert alert-success" role="alert">{{ message }}</li>
      {% elif message.tags == 'error' %}
        <li class="alert alert-danger" role="alert">{{ message }}</li>
      {% else %}
        <li class="alert alert-info" role="alert">{{ message }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
<div class="card mt-4">
  <div class="card-body" style="background-color: #f8f9fa;">
    <form method="POST" action="{% url 'matching_app:update_roommate_preference' %}">
      {% csrf_token %}
      {{ purpose_form.as_p }}
      {{ cohabitation_form.as_p }}
      {{ layout_form.as_p }}
      {{ rent_form.as_p }}
      {{ roommate_preference_form.as_p }}
      <div class="form-group row mt-4">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
