{% extends 'main_app/base.html' %}

{% block content %}
{% include 'main_app/menu_buttons.html' %}
{% if success_message %}
  <div class="alert alert-success" role="alert">{{ success_message }}</div>
{% endif %}
<h2><i class="bi bi-sliders"></i>ルームシェア希望条件設定</h2>
<div class="container mt-5">
  <form method="POST" action="{% url 'matching_app:save_roommate_preference' %}">
    {% csrf_token %}
    {{ purpose_form.as_p }}
    {{ cohabitation_form.as_p }}
    {{ layout_form.as_p }}
    {{ rent_form.as_p }}
    {{ roommate_preference_form.as_p }}
    <div class="form-group row mt-4">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </div>
  </form>
</div>

{% endblock content %}


