{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ user_profile.user.username }}のプロフィール</h2>
            <p>年齢: {{ user_profile.age }}</p>
            <p>性別: {{ user_profile.sex }}</p>
            <p>自己紹介: {{ user_profile.self_introduction }}</p>
            {% if user_profile.profile_image %}
                <img src="{{ user_profile.profile_image.url }}" alt="プロフィール画像" width="200">
            {% else %}
                <img src="{% static 'media/profile_images/default.jpg' %}" alt="プロフィール画像" width="200">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
