<div class="card">
    <div class="card-body" style="background-color: #f8f9fa;">
        <a href="{% url 'main_app:user_home' %}" class="btn btn-outline-primary"><i class="bi bi-house"></i> ホーム</a>
        <a href="{% url 'main_app:matching_profile' %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i> プロフィール設定</a>
        <a href="{% url 'matching_app:roommate_preference' %}" class="btn btn-outline-primary"><i class="bi bi-sliders"></i> ルームシェア希望設定</a>
        <a href="{% url 'matching_app:match_new_users' %}" class="btn btn-outline-primary"><i class="bi bi-shuffle"></i> マッチング</a>
        <a href="{% url 'messages_app:message_list' %}" class="btn btn-outline-primary"><i class="bi bi-chat-dots"></i> ダイレクトメッセージ一覧</a>
    </div>
</div>
<hr class="my-4">
